<style>
th, td {
  padding: 10px;
}
th {
  text-align: right;
}
</style>

<h1>Crear Lugar:</h1>

<%= form_tag(nil, method: "post") do %>

<table>
  <tbody>
    <tr>
      <th><%= label_tag(:person_name, "Nombre persona:") %></th>
      <td><%= text_field_tag(:person_name, nil, :required => true) %></td>
    </tr>
    <tr>
      <th><%= label_tag(:ligth, "Grados de luz:") %></th>
      <td><%= text_field_tag(:ligth, nil, :required => true) %></td>
    </tr>
    <tr>
      <th><%= label_tag(:latitude, "Latitud:") %></th>
      <td><%= text_field_tag(:latitude, nil, :required => true) %></td>
    </tr>
    <tr>
      <th><%= label_tag(:longitude, "Longitud:") %></th>
      <td><%= text_field_tag(:longitude, nil, :required => true) %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= submit_tag("Crear") %></td>
    </tr>
  </tbody>
</table>

<% end %>