<style>
th, td {
  padding: 10px;
}
th {
  text-align: right;
}
</style>

<h1>Lugar creado o modificado</h1>

<table>
  <tbody>
    <tr>
      <th>Nombre persona:</th>
      <td><%= @place.person_name %></td>
    </tr>
    <tr>
      <th>Grados de luz:</th>
      <td><%= @place.ligth %></td>
    </tr>
    <tr>
      <th>Latitud:</th>
      <td><%= @place.latitude %></td>
    </tr>
    <tr>
      <th>Longitud:</th>
      <td><%= @place.longitude %></td>
    </tr>
  </tbody>
</table>

<br/>
<a href="/place/show">Ver todos</a> -
<a href="/place/update/<%= @place.id %>">Modificar</a>